 .u-section-1 {
  min-height: 955px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 21px calc(((100% - 1080px) / 2)  + 1335px) -83px calc(((100% - 1080px) / 2)  + -435px);
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 1px calc(((100% - 1080px) / 2)  + 1652px) 0 calc(((100% - 1080px) / 2)  + -826px);
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 457px calc(((100% - 1080px) / 2)  + 1167px) 0 calc(((100% - 1080px) / 2)  + -341px);
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: 400px calc(((100% - 1080px) / 2)  + 542px) 0 calc(((100% - 1080px) / 2)  + 352px);
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  margin: 4px calc(((100% - 1080px) / 2)  + -1541px) 0 auto;
  padding: 8px 109px 9px 107px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 144px calc(((100% - 1080px) / 2)  + 1641px) 0 calc(((100% - 1080px) / 2)  + -749px);
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  width: auto;
  margin: -27px calc(((100% - 1080px) / 2)  + 355px) 0 calc(((100% - 1080px) / 2)  + 380px);
}

.u-section-1 .u-video-1 {
  width: 343px;
  height: 555px;
  margin: 200px calc(((100% - 1080px) / 2)  + 107px) 0 auto;
}

.u-section-1 .u-line-1 {
  height: 171px;
  transform-origin: center bottom;
  width: 3px;
  margin: -506px auto 0 calc(((100% - 1080px) / 2)  + 132px);
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  line-height: 1;
  margin: -171px auto 0 calc(((100% - 1080px) / 2)  + 152px);
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 11px calc(((100% - 1080px) / 2)  + 461px) 0 calc(((100% - 1080px) / 2)  + 151px);
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: normal;
  margin: 7px calc(((100% - 1080px) / 2)  + 547px) 0 calc(((100% - 1080px) / 2)  + 151px);
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  margin: 38px auto 70px calc(((100% - 1080px) / 2)  + 153px);
  padding: 8px 134px 9px 133px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 992px) / 2) + 1247px);
    margin-left: calc(((100% - 992px) / 2) + -435px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -1896px;
    margin-right: calc(((100% - 992px) / 2)  + 1564px);
    margin-left: calc(((100% - 992px) / 2)  + -826px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 992px) / 2) + 1079px);
    margin-left: calc(((100% - 992px) / 2) + -341px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 992px) / 2) + 498px);
    margin-left: calc(((100% - 992px) / 2) + 308px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 992px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 992px) / 2) + 1553px);
    margin-left: calc(((100% - 992px) / 2) + -749px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 992px) / 2)  + 311px);
    margin-left: calc(((100% - 992px) / 2)  + 336px);
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 992px) / 2)  + 106px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 992px) / 2)  + 132px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 992px) / 2)  + 107px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 992px) / 2)  + 417px);
    margin-left: calc(((100% - 992px) / 2)  + 107px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 992px) / 2) + 503px);
    margin-left: calc(((100% - 992px) / 2) + 107px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 992px) / 2)  + 65px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 991px) / 2) + 1246px);
    margin-left: calc(((100% - 991px) / 2) + -435px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 991px) / 2)  + 1563px);
    margin-left: calc(((100% - 991px) / 2)  + -826px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 991px) / 2) + 1078px);
    margin-left: calc(((100% - 991px) / 2) + -341px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 991px) / 2) + 498px);
    margin-left: calc(((100% - 991px) / 2) + 308px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 991px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 991px) / 2) + 1552px);
    margin-left: calc(((100% - 991px) / 2) + -749px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 991px) / 2)  + 311px);
    margin-left: calc(((100% - 991px) / 2)  + 336px);
  }

  .u-section-1 .u-video-1 {
    margin-top: 844px;
    margin-right: calc(((100% - 991px) / 2)  + 106px);
  }

  .u-section-1 .u-line-1 {
    margin-top: -645px;
    margin-left: calc(((100% - 991px) / 2)  + 132px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 991px) / 2)  + 107px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 149px;
    margin-right: calc(((100% - 991px) / 2)  + 417px);
    margin-left: calc(((100% - 991px) / 2)  + 107px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 991px) / 2) + 502px);
    margin-left: calc(((100% - 991px) / 2) + 107px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 991px) / 2)  + 64px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 709px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 767px) / 2) + 1022px);
    margin-left: calc(((100% - 767px) / 2) + -435px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 1339px);
    margin-left: calc(((100% - 767px) / 2)  + -826px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 854px);
    margin-left: calc(((100% - 767px) / 2)  + -341px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 386px);
    margin-left: calc(((100% - 767px) / 2)  + 196px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 1328px);
    margin-left: calc(((100% - 767px) / 2)  + -749px);
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 199px);
    margin-left: calc(((100% - 767px) / 2)  + 224px);
  }

  .u-section-1 .u-video-1 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 106px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
    margin-left: calc(((100% - 767px) / 2)  + 132px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: calc(((100% - 767px) / 2));
    margin-right: calc(((100% - 767px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-right: calc(((100% - 767px) / 2)  + 385px);
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(((100% - 767px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 430px) / 2) + 685px);
    margin-left: calc(((100% - 430px) / 2) + -435px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 430px) / 2)  + 1002px);
    margin-left: calc(((100% - 430px) / 2)  + -826px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 430px) / 2)  + 517px);
    margin-left: calc(((100% - 430px) / 2)  + -341px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 430px) / 2)  + 218px);
    margin-left: calc(((100% - 430px) / 2)  + 28px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 430px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 430px) / 2)  + 991px);
    margin-left: calc(((100% - 430px) / 2)  + -749px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 430px) / 2)  + 31px);
    margin-left: calc(((100% - 430px) / 2)  + 56px);
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 430px) / 2)  + 87px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 430px) / 2)  + 132px);
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 430px) / 2));
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 430px) / 2));
    margin-right: calc(((100% - 430px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 430px) / 2)  + 48px);
    margin-left: calc(((100% - 430px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 430px) / 2));
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-size: cover;
}

.u-section-2 .u-video-1 {
  min-height: 608px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    min-height: 532px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    min-height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    min-height: 216px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  line-height: 1.2;
  width: 0;
  left: -685px;
  top: -343px;
  margin: 21px calc(((100% - 1080px) / 2)  + 325px) -83px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: -2128px calc(((100% - 430px) / 2) + 1002px) 0 calc(((100% - 430px) / 2) + -826px);
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 457px calc(((100% - 430px) / 2) + 517px) 0 calc(((100% - 430px) / 2) + -341px);
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: 400px calc(((100% - 430px) / 2) + 218px) 0 calc(((100% - 430px) / 2) + 28px);
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  margin: 401px calc(((100% - 430px) / 2)) 0 auto;
  padding: 8px 109px 9px 107px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 144px calc(((100% - 430px) / 2) + 991px) 0 calc(((100% - 430px) / 2) + -749px);
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  width: auto;
  margin: -27px calc(((100% - 430px) / 2) + 31px) 0 calc(((100% - 430px) / 2) + 56px);
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  letter-spacing: normal;
  margin: 513px 0 0;
}

.u-section-3 .u-line-1 {
  height: 171px;
  transform-origin: center bottom;
  width: 3px;
  margin: -40px auto 0 0;
}

.u-section-3 .u-text-8 {
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -107px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: normal;
  width: auto;
  margin: 7px 160px 0 78px;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  margin: 24px auto 60px 72px;
  padding: 8px 134px 9px 133px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 992px) / 2)  + 281px);
    margin-right: calc(((100% - 992px) / 2)  + 281px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 992px) / 2) + 914px);
    margin-left: calc(((100% - 992px) / 2) + -826px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 992px) / 2) + 429px);
    margin-left: calc(((100% - 992px) / 2) + -341px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 992px) / 2) + 158px);
    margin-left: calc(((100% - 992px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 992px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 992px) / 2) + 903px);
    margin-left: calc(((100% - 992px) / 2) + -749px);
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 992px) / 2));
    margin-left: calc(((100% - 992px) / 2));
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 116px;
    margin-left: 34px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 991px) / 2)  + 281px);
    margin-right: calc(((100% - 991px) / 2)  + 281px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 991px) / 2) + 913px);
    margin-left: calc(((100% - 991px) / 2) + -826px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 991px) / 2) + 428px);
    margin-left: calc(((100% - 991px) / 2) + -341px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 991px) / 2) + 157px);
    margin-left: calc(((100% - 991px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 991px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 991px) / 2) + 902px);
    margin-left: calc(((100% - 991px) / 2) + -749px);
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 991px) / 2));
    margin-left: calc(((100% - 991px) / 2));
  }

  .u-section-3 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: calc(((100% - 991px) / 2) + 503px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 767px) / 2)  + 169px);
    margin-right: calc(((100% - 767px) / 2)  + 169px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 767px) / 2));
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 767px) / 2));
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 767px) / 2));
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 767px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 767px) / 2));
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 767px) / 2));
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-3 .u-line-1 {
    margin-left: 182px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-right: 50px;
  }

  .u-section-3 .u-text-9 {
    margin-right: calc(((100% - 767px) / 2) + 386px);
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 812px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 530px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-7 {
    animation-timing-function: ease-in-out;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    line-height: 1;
    letter-spacing: 0px;
    width: auto;
    margin-top: 567px;
    margin-right: calc(((100% - 430px) / 2)  + 161px);
    margin-left: calc(((100% - 430px) / 2)  + 48px);
  }

  .u-section-3 .u-line-1 {
    height: 54px;
    transform-origin: center top;
    margin-top: -30px;
    margin-left: calc(((100% - 430px) / 2)  + 39px);
  }

  .u-section-3 .u-text-8 {
    letter-spacing: 0px;
    font-size: 1.125rem;
    width: 333px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    margin-top: 346px;
    margin-right: 238px;
  }

  .u-section-3 .u-btn-2 {
    animation-timing-function: linear;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 622px;
    margin-left: auto;
    margin-bottom: 26px;
    padding-left: 100px;
    padding-right: 100px;
  }
} .u-section-4 {
  background-image: url("images/Leonardo_Phoenix_a_dramatic_highcontrast_cinematic_photograph_3.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 522px;
}

.u-section-4 .u-line-1 {
  position: absolute;
  transform-origin: center top;
  top: -920px;
  height: 0;
  margin-top: 0;
}

.u-section-4 .u-line-2 {
  position: absolute;
  transform-origin: center top;
  top: 98px;
  height: 104px;
  border-style: solid;
  margin-top: 0;
}

.u-section-4 .u-line-3 {
  position: absolute;
  transform-origin: center top;
  top: 37px;
  height: 0;
  margin-top: 0;
}

.u-section-4 .u-line-4 {
  position: absolute;
  top: 58px;
  left: 269px;
  height: 70px;
  transform-origin: center top;
  right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  margin: 58px calc(((100% - 1080px) / 2)  + 827px) 0 calc(((100% - 1080px) / 2)  + 146px);
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: 10px calc(((100% - 1080px) / 2)  + 460px) 0 calc(((100% - 1080px) / 2)  + 146px);
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  line-height: 1.2;
  margin: 0 calc(((100% - 1080px) / 2)  + 124px) 0 calc(((100% - 1080px) / 2)  + 146px);
}

.u-section-4 .u-group-1 {
  background-image: linear-gradient(-90deg, black, #808080);
  --radius: 10px;
  width: 300px;
  height: 80px;
  margin: 46px 278px 0 calc(((100% - 1080px) / 2)  + 228px);
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1;
  margin: 0 auto 0 61px;
}

.u-section-4 .u-icon-1 {
  width: 26px;
  height: 26px;
  margin: -13px auto 0 26px;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.625rem;
  line-height: 1;
  margin: -12px 26px 0 61px;
}

.u-section-4 .u-group-2 {
  background-image: linear-gradient(-90deg, black, #808080);
  --radius: 10px;
  width: 300px;
  height: auto;
  min-height: 80px;
  margin: -82px calc(((100% - 1080px) / 2)  + 194px) 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.75rem;
  width: auto;
  line-height: 1;
  font-weight: 700;
  margin: 0 auto 0 50px;
}

.u-section-4 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: -13px auto 0 17px;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.625rem;
  line-height: 1;
  margin: -11px 17px 0 51px;
}

.u-section-4 .u-group-3 {
  background-image: linear-gradient(-90deg, black, #808080);
  --radius: 10px;
  width: 300px;
  height: 80px;
  min-height: 80px;
  margin: 19px 0 0 calc(((100% - 1080px) / 2)  + 228px);
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1;
  margin: 0 auto 0 66px;
}

.u-section-4 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: -9px auto 0 29px;
  padding: 0;
}

.u-section-4 .u-text-9 {
  font-size: 0.625rem;
  line-height: 1;
  margin: -17px 29px 0 65px;
}

.u-section-4 .u-group-4 {
  background-image: linear-gradient(-90deg, black, #808080);
  --radius: 10px;
  width: 300px;
  height: auto;
  min-height: 80px;
  margin: -82px calc(((100% - 1080px) / 2)  + 192px) 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-line-5 {
  position: absolute;
  transform-origin: center top;
  top: -548px;
  height: 104px;
  border-style: solid;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1;
  width: auto;
  margin: 0 auto 0 62px;
}

.u-section-4 .u-icon-4 {
  width: 25px;
  height: 25px;
  margin: -7px auto 0 26px;
  padding: 0;
}

.u-section-4 .u-text-11 {
  font-size: 0.625rem;
  line-height: 1;
  margin: -17px 26px 0 61px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  margin: 47px auto 58px;
  padding: 8px 46px 9px 45px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 479px;
  }

  .u-section-4 .u-line-1 {
    left: 0;
    right: auto;
  }

  .u-section-4 .u-line-2 {
    left: 119px;
    right: auto;
  }

  .u-section-4 .u-line-3 {
    left: 465px;
    right: auto;
  }

  .u-section-4 .u-line-4 {
    width: 3px;
    margin: 0 auto 60px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 992px) / 2) + 783px);
    margin-left: calc(((100% - 992px) / 2) + 102px);
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 310px;
    margin-right: calc(((100% - 992px) / 2)  + 472px);
    margin-left: calc(((100% - 992px) / 2)  + 24px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 992px) / 2)  + 158px);
    margin-left: calc(((100% - 992px) / 2)  + 24px);
  }

  .u-section-4 .u-group-1 {
    min-height: 80px;
    margin-left: 612px;
    height: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: 60px;
  }

  .u-section-4 .u-group-2 {
    margin-right: calc(((100% - 992px) / 2)  + 199px);
    margin-left: 180px;
    height: auto;
  }

  .u-section-4 .u-group-3 {
    margin-left: 613px;
    height: auto;
  }

  .u-section-4 .u-group-4 {
    margin-right: calc(((100% - 992px) / 2)  + 148px);
    margin-left: 180px;
    height: auto;
  }

  .u-section-4 .u-line-5 {
    left: -682px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 991px) / 2)  + 856px);
    margin-left: calc(((100% - 991px) / 2)  + 24px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 991px) / 2)  + 471px);
    margin-left: calc(((100% - 991px) / 2)  + 24px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 991px) / 2)  + 157px);
    margin-left: calc(((100% - 991px) / 2)  + 24px);
  }

  .u-section-4 .u-group-2 {
    margin-right: calc(((100% - 991px) / 2)  + 199px);
  }

  .u-section-4 .u-group-4 {
    margin-right: calc(((100% - 991px) / 2)  + 148px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 371px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 767px) / 2)  + 6px);
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 767px) / 2)  + 294px);
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 767px) / 2));
    margin-right: calc(((100% - 767px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-right: 259px;
    margin-left: 405px;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-2 {
    margin-right: calc(((100% - 767px) / 2) + 194px);
    margin-left: 162px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-left: 409px;
  }

  .u-section-4 .u-text-8 {
    margin-left: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-4 {
    margin-right: calc(((100% - 767px) / 2)  + 148px);
    margin-left: 162px;
  }

  .u-section-4 .u-text-10 {
    margin-left: auto;
  }

  .u-section-4 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 208px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 430px) / 2)  + 258px);
    margin-left: calc(((100% - 430px) / 2)  + 60px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 430px) / 2));
    margin-right: calc(((100% - 430px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 430px) / 2));
    margin-right: calc(((100% - 430px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-right: 90px;
    margin-left: calc(((100% - 430px) / 2)  + 134px);
  }

  .u-section-4 .u-group-2 {
    margin-left: auto;
    margin-right: calc(((100% - 430px) / 2) + 130px);
  }

  .u-section-4 .u-group-3 {
    margin-left: calc(((100% - 430px) / 2) + 130px);
  }

  .u-section-4 .u-group-4 {
    margin-right: calc(((100% - 430px) / 2)  + 134px);
    margin-left: auto;
  }

  .u-section-4 .u-line-5 {
    left: 0;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 599px;
}

.u-section-5 .u-line-1 {
  left: 73px;
  top: 108px;
  position: absolute;
  height: 113px;
  transform-origin: center top;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 108px 816px 0 88px;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 7px 497px 0 88px;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 497px 0 88px;
}

.u-section-5 .u-video-1 {
  width: 339px;
  height: 429px;
  margin: -265px 79px 0 auto;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  margin: -84px auto 60px 140px;
  padding: 8px 134px 9px 133px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: 772px;
    margin-left: 44px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 453px;
    margin-left: 44px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 453px;
    margin-left: 44px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 452px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 452px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 592px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 272px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 272px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-5 .u-line-1 {
    left: 24px;
    top: 69px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 69px;
    margin-right: 221px;
    margin-left: 34px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-right: -34px;
    margin-left: 34px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-right: 203px;
    margin-left: 34px;
  }

  .u-section-5 .u-video-1 {
    width: 161px;
    height: 340px;
    margin-top: -309px;
    margin-right: 35px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 24px;
    margin-left: auto;
    padding-right: 46px;
    padding-left: 45px;
  }
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Leonardo_Phoenix_a_dramatic_highcontrast_cinematic_photograph_2.jpg");
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 920px;
}

.u-section-6 .u-shape-1 {
  height: 463px;
  margin-top: 214px;
  margin-bottom: 0;
  transform-origin: center center;
  transform: scaleX(-1);
}

.u-section-6 .u-line-1 {
  left: 147px;
  top: 312px;
  position: absolute;
  height: 71px;
  transform-origin: center top;
  border-style: solid;
}

.u-section-6 .u-group-1 {
  height: auto;
  width: 437px;
  min-height: 196px;
  --radius: 10px;
  margin: -557px 22px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 11px auto 0 24px;
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 152px;
  height: 163px;
  object-position: 50% 50%;
  --radius: 15px;
  margin: -45px -24px 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 0.75rem;
  margin: -112px 152px 0 24px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 0 152px 0 24px;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 14px 551px 0 156px;
}

.u-section-6 .u-group-2 {
  height: auto;
  min-height: 194px;
  width: 437px;
  --radius: 10px;
  margin: -88px 22px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 11px auto 0 24px;
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 151px;
  height: 160px;
  object-position: 50% 50%;
  --radius: 15px;
  margin: -41px -25px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 0.75rem;
  margin: -114px 141px 0 24px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 16px 152px 0 24px;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 700;
  margin: -230px 753px 0 156px;
}

.u-section-6 .u-group-3 {
  height: auto;
  min-height: 195px;
  width: 437px;
  --radius: 10px;
  margin: 245px 22px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: 11px auto 0 24px;
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 158px;
  height: 158px;
  object-position: 50% 50%;
  --radius: 15px;
  margin: -45px -22px 0 auto;
}

.u-section-6 .u-text-7 {
  font-size: 0.75rem;
  margin: -109px 158px 0 22px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 3px 152px 0 24px;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-timing-function: ease-in;
  --radius: 35px;
  background-image: linear-gradient(#00ea16, #42b981);
  box-shadow: 0px 0px 10px 5px rgba(128,128,128,0.5);
  margin: 55px auto 56px;
  padding: 8px 121px 9px 119px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 545px;
    margin-left: 161px;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 854px;
    margin-left: 54px;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 156px;
  }

  .u-section-6 .u-btn-1 {
    margin-bottom: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 433px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 684px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 194px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-6 .u-shape-1 {
    height: 1013px;
    margin-top: 24px;
  }

  .u-section-6 .u-line-1 {
    left: 41px;
    top: 35px;
    height: 74px;
  }

  .u-section-6 .u-group-1 {
    width: 300px;
    min-height: 287px;
    margin-top: -911px;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -65px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -358px;
    margin-right: 80px;
    margin-left: 45px;
  }

  .u-section-6 .u-group-2 {
    min-height: 248px;
    width: 300px;
    margin-top: 354px;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -653px;
    margin-right: 274px;
    margin-left: 33px;
  }

  .u-section-6 .u-group-3 {
    min-height: 266px;
    width: 300px;
    margin-top: 667px;
    margin-right: auto;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: -22px;
    margin-right: 4px;
    margin-left: 172px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 64px;
    margin-bottom: 46px;
  }
} .u-section-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Leonardo_Phoenix_a_dramatic_highcontrast_cinematic_photograph_2.jpg");
  background-size: cover;
}

.u-section-7 .u-sheet-1 {
  min-height: 289px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 34px auto 0 43px;
}

.u-section-7 .u-text-2 {
  font-family: "ADLaM Display";
  text-transform: uppercase;
  margin: 12px 43px 0;
}

.u-section-7 .u-text-3 {
  margin: 12px 43px 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 94px;
    margin-left: 21px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 70px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 13px 0;
}